* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e0e0e0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 70px;
}
input {
  width: 100%;
  height: 65px;
  margin: 12px 0;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 24px;
  font-weight: 540;
  text-align: right;
}
button {
  height: 50px;
  width: 60px;
  margin: 4px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 0.1s;
}
button:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
button:active {
  transform: scale(0.95);
}
.title{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  z-index: 1000;
}
.container {
  padding: 12px;
  background-color: #2a2a2a;
  border-radius: 8px;
  height: 400px;
  width: 300px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.task {
  color: #ff9900;
  font-size: 18px;
  font-weight: bold;
}
.result {
  background-color: #ff9900;
  font-size: 18px;
  font-weight: bold;
}

#historyContainer {
    width: 280px;            
    max-height: 1200px;        
    background: rgba(255, 255, 255, 0.1);  
    backdrop-filter: blur(10px);           
    border-radius: 15px;
    padding: 15px;
    margin-left: 20px;        /* space from calculator */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

#calcHistory {
    flex: 1;
    overflow-y: auto;          
    margin-bottom: 10px;
    padding-right: 5px;
}

#calcHistory p {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(255,255,255,0.05);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s all;
}

#clearHistoryBtn {
    padding: 2px 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(145deg, #ffbf6b, #ed8c1e);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s all;
}

#clearHistoryBtn:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

@media (max-width:768px) {
  body {
    flex-direction: column;
    padding: 60px 20px 20px 20px;
    
  }
  .container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  #historyContainer {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
  }
  .title {
    font-size: 18px;
    padding: 12px 0;
  }
}